body{
    background-color: gray;
    margin: 0;
}
.strona{
    position: absolute;
}
.header{
    background-color: black;
    height: 70px;
    width: 100vw;
    margin: 0;
    position: fixed;
    display: flex;
    justify-content: center;

}
#biel-ico{
    width: 60px;
    height: 60px;
    margin-right: 3rem;
    margin-top: 5%;
}
.nav-m ul li{
    list-style-type: none;
    display: inline-block;
    max-width: fit-content;
    margin-top: 2%;
}
.nav-m{
    font-family: 'Prompt Extralight';
    font-weight: 600;
    font-size: medium;
    max-width: fit-content;
    display: flex;
}
.nav-m a{
    color: white;
    text-decoration: none;
}
.nav-m a:hover{
    color: #ffaaff;
    text-decoration: none;
}
