body{
    background-color: gray;
    margin: 0;
}
.strona{
    position: absolute;
}
.header{
    background-color: black;
    height: 70px;
    width: 100vw;
    margin: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    
}
.image{
    max-width: fit-content;
    max-height: fit-content;
    display: inline-block;
    margin-right: 3rem;
}
#biel-ico{
    width: 60px;
    height: 60px;
    margin-top: 5px;
}
.buttons{
    font-family: 'Prompt Extralight';
    font-weight: 600;
    font-size: medium;
    text-align: center;
    margin-top: 25px;
    max-width: fit-content;  
}
.buttons a{
    color: white;
    text-decoration: none;
}
.buttons a:hover{
    color: #ffaaff;
    text-decoration: none;
}
